/* 
    Created on : 25/12/2021, 08:33:01 PM
    Author     : Edwin
*/

body {
    background-color: #dfdfdf;
}

#contenedor {
    font-family: 'Lucida Sans Unicode', sans-serif;
    font-size: 1em;
    background-color: #FFFFFF;
    border: #d3d3d3 1px solid;
    text-align: justify;
    margin: 10px auto;
    width: 900px;
}

#encabezado {
    width: 900px;
    height: 150px;
    background: url(../imagenes/Banner.png) no-repeat;
    border: #d3d3d3 1px solid;
}

div#contenido {
    border: #d3d3d3 1px solid;
    margin: 20px 20px 10px 140px;
    padding: 10px 15px;
}

h2 {
    color: #0075FF;
    border-bottom: #CFDFB5 1px solid;
}

#menu {
    float: left;
    width: 120px;
    background-color: #D4FFFF;
    margin: 20px 10px;
    padding: 0;
    list-style-type: none;
}

#menu li {
    border: #d3d3d3 1px solid;
    background-color: #0075DD;
    margin-bottom: 5px;
    font-size: 0.9em;
    text-align: center;
    line-height: 30px;
}

#menu a {
    display: block;
    text-decoration: none;
    color: #000000;
}

#menu li:hover {
    background-color: #7092BE;
}

#menu li.activa, #menu li:hover {
    background-color: #7092BE;
}

table {
    border-collapse: separate;
    border-spacing: 5px 5px;
}

#identificacion {
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance: textfield !important;
}

/*Tabs*/
[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    font-size: 1em;
    font-family: sans-serif;
}

.tabs {
    font-size: 1em;
    display: flex;
    margin: 0;
}

.tabs span {
    background-color: #0075DD;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.tabs span:active {
    background-color: #7092BE;
}

.tabs span:hover {
    background-color: #7092BE;
    cursor: pointer;
}

/*Info*/

#pass_info {
    position: absolute;
    bottom: -112px;
    /* IE Specific */
    right: 510px;
    width: 250px;
    padding: 5px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
}

#pass_info::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

#ver_info {
    color: red;
    position: absolute;
    bottom: -15px;
    /* IE Specific */
    right: 230px;
    width: 250px;
    padding: 5px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
}

#ver_info::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

#info_email {
    color: red;
    position: absolute;
    bottom: 45px;
    /* IE Specific */
    right: 230px;
    width: 250px;
    padding: 5px;
    background: #fefefe;
    font-size: .875em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    border: 1px solid #ddd;
}

#info_email::before {
    content: "\25B2";
    position: absolute;
    top: -12px;
    left: 45%;
    font-size: 14px;
    line-height: 14px;
    color: #ddd;
    text-shadow: none;
    display: block;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}


