/* 
    Created on : 7/10/2022, 04:55:17 PM
    Author     : Edwin
*/

[data-tab-info] {
    display: none;
}

.active[data-tab-info] {
    display: block;
}

.tab-content {
    font-size: 1em;
    font-family: sans-serif;
    font-weight: bold;
}

.tabs {
    font-size: 1em;
    display: flex;
    margin: 0;
}

.tabs span {
    background-color: #0075DD;
    padding: 5px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
}

.tabs span:active {
    background-color: #7092BE;
}

.tabs span:hover {
    background-color: #7092BE;
    cursor: pointer;
}




